*.cache
aclocal.m4
config.*
configure
build
*.la
*.lo
*.loT
*.o
example
libtool
stamp-*
Makefile
Makefile.in
.libs
.deps
.dirstamp
.stgit*
*~
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
test/test
/*.pc
doc/doxygen.conf
doc/api
*.exe
*.tar.*
include/mpd/version.h

test/t_iso8601
